:root {
  --primary-bg-color: #5B96D2; 
  --main-text-color: #232B2B;
  --secondary-text-color: whitesmoke;
  --font-main: "Noto Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.header-wrapped {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1.5rem 20rem;
    font-family: var(--font-main);
    background-color: var(--primary-bg-color);
}

.main-nav {
    justify-self: center;
}

.main-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: 700;
    cursor: pointer;
    color: var(--secondary-text-color);
    display: inline-block;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);

}

.main-nav ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);

}

.contact a {
    color: var(--secondary-text-color);
    text-decoration: none;
    border: 2px solid whitesmoke;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    display: inline-block;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
}

.logo:hover {
    transform: scale(1.20);
}

.main-nav ul li a:hover {
    transform: scale(1.20);

}

.contact a:hover {
    transform: scale(1.20);
}